<div class="flex items-center justify-center min-h-screen bg-black">
    <div class="p-8 rounded-lg w-full max-w-sm">
      <h2 class="text-white text-2xl font-bold mb-6 text-center">Login</h2>
  
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="mb-4">
          <input 
            type="text" 
            placeholder="Roll Number" 
            class="w-full p-3 rounded-md bg-[#272727] text-white"
            [(ngModel)]="rollNumber" 
            name="rollNumber" 
            required>
        </div>
  
        <div class="mb-4">
          <input 
            type="password" 
            placeholder="Password" 
            class="w-full p-3 rounded-md bg-[#272727] text-white"
            [(ngModel)]="password" 
            name="password" 
            required>
        </div>
  
        <div class="mb-4">
          <button 
            type="submit" 
            class="w-full p-3 bg-[#005C57] text-white rounded-md" >
            Login
          </button>
        </div>
      </form>
      <div class="mb-4 text-center">
        <p class="text-white">Don't have an account? <a [routerLink]="'/sign-up'" class="text-[#005C57]">Sign Up</a></p>
      </div>
      
    </div>
  </div>
  